<nav class="navbar">
      <div class="logo">
        <img src="/img/google.png" alt="google logo" class="googleLogo" />
      </div>
      <form action="/results" method="POST" class="searchBarandButton">
        <input name="searchBar" type="searchbar" class="searchBar" />
        <button class="searchButton">Search</button>
      </form>
    </nav>
    <div class="mainContent">
      <span class="numResults">{{results.length}} Results</span>
			{{#each results as |result|}}
			{{>result result=result}}
			{{/each}}


		</div>
