<div class="logoBarButton">
      <img src="/img/google.png" alt="google logo" class="googleLogo" />
      <form action="/results" method="POST" class="searchBarandButton">
        <input name="searchBar" type="text" class="searchBar" value="" />
        <button class="searchButton">Search</button>
      </form>
    </div>
